@use "@/styles/variables/borders" as *;
@use "@/styles/variables/breakpoints" as *;
@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;
@use "@/styles/variables/shadows" as *;

.board-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $spacing-lg;
  min-height: 0;
}

.board-overlay {
  width: $spacing-unit * 80;
  max-width: 100%;
  pointer-events: none;
  box-shadow: $shadow-lg;
}
