@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;

.stack {
  display: flex;
}

.stack--vertical {
  flex-direction: column;
}

.stack--horizontal {
  flex-direction: row;
}

.stack--spacing-xs {
  gap: $spacing-xs;
}

.stack--spacing-sm {
  gap: $spacing-sm;
}

.stack--spacing-md {
  gap: $spacing-md;
}

.stack--spacing-lg {
  gap: $spacing-lg;
}

.stack--spacing-xl {
  gap: $spacing-xl;
}

.stack--align-start {
  align-items: flex-start;
}

.stack--align-center {
  align-items: center;
}

.stack--align-end {
  align-items: flex-end;
}

.stack--align-stretch {
  align-items: stretch;
}

.stack--justify-start {
  justify-content: flex-start;
}

.stack--justify-center {
  justify-content: center;
}

.stack--justify-end {
  justify-content: flex-end;
}

.stack--justify-space-between {
  justify-content: space-between;
}

.stack--justify-space-around {
  justify-content: space-around;
}

.stack--justify-space-evenly {
  justify-content: space-evenly;
}
