@use "@/styles/variables/borders" as *;
@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;

.app-footer {
  width: 100%;
  height: 100%;
  border-top: $border-width solid $color-border;
  background-color: $color-background;
}

.app-footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 $layout-dashboard-main-padding;
}

