@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;

.app-header {
  width: 100%;
  height: 100%;
}

.app-header__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 $layout-dashboard-main-padding;
  gap: $spacing-md;
}

.app-header__title {
  min-width: 0;
}

.app-header__actions {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}
