@use "@/styles/variables/borders" as *;
@use "@/styles/variables/breakpoints" as *;
@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;

.epics-layout {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}
