@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;
@use "@/styles/variables/typography" as *;
@use "@/styles/variables/borders" as *;
@use "@/styles/variables/animations" as *;
@use "@/styles/variables/shadows" as *;

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: $spacing-sm;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  cursor: pointer;
  user-select: none;
  position: relative;

  &:hover .checkbox-icon {
    border-color: $color-primary;
  }

  &:focus-within .checkbox-icon {
    outline: 2px solid $color-focus;
    outline-offset: 2px;
    border-color: $color-focus;
  }
}

.checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $spacing-md * 1.25; // 20px
  height: $spacing-md * 1.25; // 20px
  min-width: $spacing-md * 1.25;
  min-height: $spacing-md * 1.25;
  border: $border-width solid $color-border;
  border-radius: $border-radius-sm;
  background-color: $color-secondary;
  transition: $transition-border, $transition-background, $transition-color;
  color: $color-primary-text;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

.checkbox-input:checked + .checkbox .checkbox-icon,
.checkbox-input:indeterminate + .checkbox .checkbox-icon {
  background-color: $color-primary;
  border-color: $color-primary;
}

.checkbox-input:disabled + .checkbox {
  cursor: not-allowed;
  opacity: 0.6;

  .checkbox-icon {
    background-color: $color-disabled-background;
    border-color: $color-border;
    color: $color-disabled-text;
  }
}

.checkbox-input:checked:disabled + .checkbox .checkbox-icon,
.checkbox-input:indeterminate:disabled + .checkbox .checkbox-icon {
  background-color: $color-disabled-background;
  border-color: $color-border;
}

.checkbox-label {
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $color-text;
}

.checkbox-input:disabled + .checkbox .checkbox-label {
  color: $color-disabled-text;
}

.checkbox--disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
