@use "@/styles/variables/colors" as *;
@use "@/styles/variables/spacing" as *;
@use "@/styles/variables/typography" as *;
@use "@/styles/variables/borders" as *;
@use "@/styles/variables/transitions" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $spacing-button-height;
  padding: $spacing-button-padding-y $spacing-button-padding-x;
  border: $border-width solid transparent;
  border-radius: $border-radius-button;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
  cursor: pointer;
  transition: $transition-background, $transition-color, $transition-border;
  text-align: center;
  text-decoration: none;

  &:focus {
    outline: 2px solid $color-focus;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.button--primary {
  background-color: $color-primary;
  color: $color-primary-text;
  border-color: $color-primary;

  &:hover:not(:disabled) {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }

  &:disabled {
    background-color: $color-disabled-background;
    color: $color-disabled-text;
    border-color: $color-disabled-background;
  }
}

.button--secondary {
  background-color: $color-secondary;
  color: $color-text;
  border-color: $color-border;

  &:hover:not(:disabled) {
    border-color: transparent;
    background-color: $color-secondary-hover;
  }

  &:disabled {
    background-color: $color-disabled-background;
    color: $color-disabled-text;
    border-color: $color-border;
  }
}

.button--full-width {
  width: 100%;
}

