@use "@/styles/variables/spacing" as *;

.recipe-detail-page {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  width: 100%;
  padding-bottom: $spacing-3xl;
}

.recipe-detail-page__header {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  align-items: center;
  text-align: center;
}

.recipe-detail-page__title {
  margin: 0;
}
